.real-time-alarm-item {
  // border: 1px solid red;
  height: 90px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #20AAFF66;
  padding: 0 10px;
  &:last-child {
    border-bottom: none;
  }
  img {
    width: 115px;
    height: 64px;
    flex: none;
    margin-right: 9px;
  }
  .alarm-desc {
    color: #fff;
    height 64px;
    // border: 1px solid red;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .type-name {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
    }
    .time {
      font-size: 18px;
    }
  }
}