.real-time-alarm-item {
  // border: 1px solid red;
  padding: 10px;
  color: white;
  display: flex;
  border-bottom: 2px solid #10517F;
  letter-spacing: 1px;
  //　font-size: 20px;
  .alarm-desc {
    flex: 1;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
  }
  .type-name {
    display: flex;
    flex-direction: column;
    // font-size: 24px;
    .name {
      // font-size: 20px;
    }
    span {
      word-break: break-all;
    }
  }
  img {
    width: 150px;
    height: 115px;
    margin-right: 5px;
  }
}