.real-time-alarm-wrapper {
  position fixed;
  right: 108px;
  top: 96px;
  bottom: 100px;
  overflow: hidden;
  pointer-events: none;
  .alarm-icon {
    
  }
  &>img {
    pointer-events: auto;
    cursor pointer;
    width:107px;
    margin-top: 130px;
  }
  .real-time-alarm-info {
    // border: 1px solid red;
    width: 447px;
    display: flex;
    flex-direction: column;
    height: 100%;
    pointer-events: auto;
    margin-right: 120px;
    margin-top: 120px;
    .alarm-item-list {
      margin: 0;
      margin-top: -2px;
      padding: 0 10px;
      list-style: none;
      border: 2px solid #20AAFF66;
      flex: auto;
      height 100%;
      position relative;
      overflow-x hidden;
      overflow-y auto;
    }
  }
}
