.marker-with-tip {
  position relative;
  .name {
    position absolute;
    color: #fff;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, -15px);
    background: #20AAFF;
    padding: 2px 8px;
    word-break: keep-all;
    font-size: 18px;
    &::before {
      content: ' ';
      width: 10px;
      height: 10px;
      position absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      z-index -1;
      background: #20AAFF;
    }
  }
  &.car {
    background: url('./car.png');
  }
  &.people {
    background: url('./people.png');
  }
  &.wifi {
    background: url('./wifi.png');
  }
  &.camera {
    background: url('./camera.png');
  }
}

.leaflet-tooltip {
  &.destination-tooltip {
    background: #0005;
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 10px;
    &::before {
      display none;
    }
  }
}

