.marker-with-tip {
  .name {
    position absolute;
    color: black;
    left: 40%;
    bottom: 100%;
    transform: translate(-50%, -15px);
    background: #13FFD5;
    padding: 2px 8px;
    word-break: keep-all;
    font-size: 18px;
    letter-spacing: 2px;
    &::before {
      content: ' ';
      width: 10px;
      height: 10px;
      position absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      z-index -1;
      background: #20AAFF;
       background: #13FFD5;
    }
  }

  .areaIconName {
     position absolute;
    color: #fff;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, -15px);
    background: red;
    padding: 2px 8px;
    word-break: keep-all;
    font-size: 18px;
    &::before {
      content: ' ';
      width: 10px;
      height: 10px;
      position absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      z-index -1;
      background: red;
    }
  }
  &.car {
    background: url('./car.png');
  }
  &.people {
    background: url('./people.png');
  }
  &.wifi {
    background: url('./wifi.png');
  }
  &.camera {
    background: url('./camera.png');
  }
  &.baseStationWifi {
    background: url('./basewifi.png');
    background-repeat: no-repeat;
    &:hover .name{
        display: block;
    }
    .name {
      display :none;
    }
  }

  &.monitor {
    background: url('./m3.png');
    background-repeat: no-repeat;
    &:hover .name{
        display: block;
    }
    .name {
      display :none;
    }
  }
  &.areaIcon {
    background: url('./area.png');
    background-size: 48px 38px;
  }
  &.alarmCar {
     background: url('./alarmCar.png');
    background-size: 48px 40px;
    .name {
      background: red;
      &::before {
         content: ' ';
      // width: 10px;
      // height: 10px;
      position absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      z-index -1;
      background: red;
      }
    }
  }
  &.alarmFace {
    background: url('./alarmFace.png');
    background-size: 48px 36px;
    .name {
      background: red;
       &::before {
        background: red;
      }
    }
  }
  &.policestation {
    background: url('./policestation.png');
    background-size: cover;
    .name {
      background: rgb(253,243,124);
       &::before {
        background: rgb(253,243,124);
      }
    }
  }
  &.policeman {
    background: url('./policeman.png');
    .name {
      display: none;
      background: red;
       &::before {
        background: red;
      }
    }
  }
  &.signin {
    background: url('./signin.png');
    .name {
      display: none;
    }
  }
}

.leaflet-tooltip {
  &.destination-tooltip {
    background: #0005;
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 10px;
    &::before {
      display none;
    }
  }
}

