.alarm-detail-wrapper {
  position fixed;
  top: 200px;
  left: 630px;
  width: 310px;
  // height: 515px;
  padding: 15px;
  color: #fff;
  img {
    display: block;
    width: 100%;
    height: 155px;
  }
  .h6-name {
    font-size: 24px;
    opacity 0.8;
  }
  .info {
    font-size: 18px;
    opacity 0.8;
    .warning {
      color: #F52323;
    }
  }
  .action-detail-wrapper {
    // border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content space-between
    button {
      cursor pointer;
      margin-top: 14px;
      background: #F52323;
      border: none;
      outline: none;
      height: 35px;
      width: 100%;
      font-size: 22px;
      opacity 0.8;
      color: #FFF;
    }
  }
}
