.alarm-detail-wrapper {
  position fixed;
  top: 200px;
  left: 630px;
  //left: 530px;
  width: 350px;
  white-space: nowrap;
  overflow hidden;
  // height: 515px;
  padding: 15px;
  color: #fff;
  img {
    display: block;
    width: 100%;
    height: 155px;
  }
  .h6-name {
    font-size: 24px;
    opacity 0.8;
  }
  .info {
    font-size: 18px;
    opacity 0.8;
    white-space normal;
    .warning {
      color: #F52323;
    }
  }
  .timer-range-search {
    .data-picker {
      display: block;
      margin: 10px 0;
    }
  }
  .action-detail-wrapper {
    // border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content space-between
    button {
      cursor pointer;
      margin-top: 14px;
      background: #F52323;
      border: none;
      outline: none;
      height: 35px;
      width: 100%;
      font-size: 22px;
      opacity 0.8;
      color: #FFF;
    }
  }
}

.tranformToLeft0 {
  animation: tranformToLeft0 2s;
  animation-fill-mode: forwards;
}

.tranformToLeft530 {
  animation: tranformToLeft530 2s;
  animation-fill-mode: forwards;
}

@keyframes tranformToLeft530 {
   0% {
    left: 110px;
  }
  100% {
    left: 530px;
  }
}

@keyframes tranformToLeft0{
  0% {
    left: 530px;
  }
  100% {
    left: 110px;
  }
}