.hdpic-alarm-info {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  p {
     width: 50%;
  }
  .hdpic-alarm-info-img {
    width: 100%;
      h3 {
        color: white;
      }
    .hdpic-alarm-info-img-zpt {
      float: left;
      margin-right: 100px;
    }
  }
}