.force-snapshot-wrapper {
  // border: 1px solid red;
  position: fixed;
  top: 20%;
  left: 50%;
  width: 100px;
  transform: translateX(-50%);
  color: #fff;
  width: 768px;
  .snapshot-list-wrapper {
    
    color: #fff;
    padding 0 20px;
    height: 600px;
    overflow: auto;
    .snapshot-item {
      padding: 10px 0;
      border-bottom: 2px solid #10517F;
      .header {
        font-size: 32px;
        line-height: 1.8;
      }
      .img-list {
        display: flex;
        justify-content: space-between;
        img {
          width 32%;
          height 126px;
        }
      }
      .desc {
        display: flex;
        flex-wrap: wrap;
        line-height: 1.8;
        span {
          width: 50%;
          font-size: 18px;
        }
      }
    }
    ul {
      li {
        list-style none;
        padding: 10px;
        border-bottom: 1px solid white;
        .img {
          width: 200px;
          height: 100px;
          margin-right: 20px;
          float:left;
          img {
            width: 100%;
            height: 100%;
          }
        }
        div {
          display: flex;
          flex-wrap: wrap;
          span {
            width: 40%;
          }
        }
      }
    }
  }
  .search-wrapper {
    background: #20AAFF22;
    border: 1px solid rgb(135,222,248);
    padding: 0 10px;
    border-bottom-color: transparent;
  }
  .snapshot-tab {
    background: url('./tab-bg.png') no-repeat;
    background-position: 53% 69%;
    border-bottom: 2px solid rgb(135,222,248);
    font-size: 0;
    display: flex;
    justify-content: space-between;
    .button-close {
      color: #20AAFF;
      font-size: 32px;
      background: none;
      border: none;
      outline: none;
      display: flex;
      cursor pointer;
      .close-btn {
        font-size: 28px;
        color: #68CCFB;
      }
    }
    .button-bg {
      width: 300px;
      height: 38px;
      path {
        fill: rgb(8,17,27);
        // stroke: #20AAFF;
        stroke-width: 2px;
        fill-opacity: 1;
        cursor: pointer;
        &.active {
          fill-opacity: 1;
          fill: rgb(135,222,248);
        }
        
      }
      .activeText {
        fill: black;  
      }
      text {
        fill: #fff;
        font-size: 22px;
        pointer-events: none;
      }
    }
  }
}
