.network-force-history-wrapper {
  position fixed;
  left: 108px;
  top: 96px;
  bottom: 80px;
  width: 506px;
  color: #fff;
  display: flex;
  flex-direction: column;
  .force-list {
    margin: 0;
    padding: 0 10px;
    list-style: none;
    position relative;
    flex: auto;
    overflow-x hidden;
    overflow-y auto;
    .force-item {
      display: flex;
      border-bottom: 1px solid #20AAFF66;
      padding: 10px;
      img {
        width: 115px;
        height: 64px;
        flex: none;
        margin-right: 9px;
      }
      .force-desc {
        color: #fff;
        flex: auto;
        display: flex;
        flex-direction: column;
        margin-top: -5px;
        .name {
          font-size: 24px;
        }
        .item {
          font-size: 18px;
        }
      }
    }
  }
}
