.title-wrapper {
  margin: 0;
  color: #fff;
  font-size: 32px;
  font-weight: normal;
  text-shadow: 0 0 10px #000000;
  border-bottom: 3px solid #20AAFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -2px;
  flex: none;
  button {
    color: #20AAFF;
    font-size: 32px;
    background: none;
    border: none;
    outline: none;
    display: flex;
    cursor pointer;
    .close-btn {
      font-size: 28px;
    }
  }
}
