.title-wrapper {
  margin: 0;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  text-shadow: 0 0 10px #000000;
  border-bottom: 3px solid #67DFFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -2px;
  flex: none;
  & > span {
    img {
      margin-left: 10px;
      vertical-align: -5px;
    }
  }
  button {
    color: #20AAFF;
    font-size: 32px;
    background: none;
    border: none;
    outline: none;
    display: flex;
    cursor pointer;
    .close-btn {
      font-size: 28px;
      color: #68CCFB;
    }
  }
}
