.network-alarm-history-wrapper {
  position fixed;
  left: 108px;
  top: 96px;
  bottom: 80px;
  width: 506px;
  color: #fff;
  display: flex;
  flex-direction: column;
  .type-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 8px;
    flex: none;
    span {
      flex: auto;
      text-align: center;
      height: 38px;
      line-height: 38px;
      border: 2px solid #20AAFF;
      background: rgba(32,170,255,0.50);
      margin-right: 5px;
      font-size: 24px;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        background: #20AAFF;
      }
    }
  }
  hr {
    height 3px;
    border: none;
    background: #20AAFF;
    flex: none;
    width: 100%;
    margin: 0;
  }
  .alarm-list {
    margin: 0;
    padding: 0 10px;
    list-style: none;
    position relative;
    flex: auto;
    overflow-x hidden;
    overflow-y auto;
    cursor pointer;
    .isSelected {
      background: #20AAFF;
      }
    .alarm-item {
      height: 90px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #20AAFF;
      padding: 0 10px;
      &:last-child {
        border-bottom: none;
      }
      img {
        width: 115px;
        height: 64px;
        flex: none;
        margin-right: 9px;
      }
      .alarm-desc {
        color: #fff;
        height 64px;
        // border: 1px solid red;
        flex: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .name {
          font-size: 24px;
          white-space: nowrap;
          overflow hidden;
        }
        .time {
          font-size: 18px;
        }
      }
    }
    &::after {
      content: ' ';
      position absolute;
      bottom: -2px;
      left: -2px;
      right: -2px;
      height: 15px;
      pointer-events: none;
      background: linear-gradient(#20AAFF, #20AAFF) left bottom,
        linear-gradient(#20AAFF, #20AAFF) left bottom,
        linear-gradient(#20AAFF, #20AAFF) right bottom,
        linear-gradient(#20AAFF, #20AAFF) right bottom;
      background-repeat: no-repeat;
      background-size: 2px 15px, 15px 2px;
    }
  }
}
