.pcs-policecall-modal {
  background: rgba(5,18,28,0.8);
  top: 100px;
  left: 20px;
  position: absolute;
  h2 {
    color: white;
  }
  .day-or-month {
    text-align: right;
    span {
      background: rgb(5, 18, 28);
      display: inline-block;
      width: 50px;
      font-size: 20px;
      cursor pointer;
      text-align: center;
      color: white;
      border-radius: 5px;
    }
    .active {
      background: rgb(104, 224, 251);
      color: black;
      }
  }
}