.time-range-search-wrapper {
  margin: 8px 0;
  display: flex;
  // justify-content: center;
  align-items: center;
  height 40px;
  .search-btn {
    border: none;
    outline: none;
    background: #20AAFF;
    flex: auto;
    height: 100%;
    margin-left: 6px;
    cursor pointer;
    font-size: 20px;
    color: #FFF;
  }
  .time-range-wrapper {
    width: 80%;
    .ant-calendar-picker-input {
      background: none;
      border: none;
      border-radius: 0;
      input {
        color: #fff;
      }
      .ant-calendar-range-picker-separator {
        color: #20AAFF;
        transform: scaleX(2);
      }
      .ant-calendar-picker-icon {
        display: none;
      }
      .ant-calendar-picker-clear {
        color: #20AAFF;
        background: none;
      }
    }
  }
}