.time-range-search-wrapper {
  margin: 8px 0;
  display: flex;
  // justify-content: center;
  align-items: center;
  height 40px;
  flex: none;
  .search-btn {
    border: none;
    outline: none;
    background: #20AAFF;
    flex: auto;
    height: 100%;
    margin-left: 6px;
    cursor pointer;
    font-size: 20px;
    color: #FFF;
  }
  .time-range-wrapper {
    width: 60%;
  }
}
