.piechart {
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            font-size: 18px;
            list-style: none;
            width: 30%;
            color: white;
            background: url('./pcs.png');
            background-repeat: no-repeat;
            padding-left: 30px;
            margin-bottom: 10px;
            letter-spacing: 1px;
        }
    }
}