.header-wrapper {
  font-size: 42px;
  color: white;
  text-align: center;
  font-weight: normal;
  text-shadow: 0 0 18px #000000;
  margin: 0;
  height: 80px;
  // background: url('./bottom-line.png'), url('./left.png'), url('./right.png');
  background: url('./header.png');
  background-position:bottom center ;
  background-size: cover ;
 // background-position: bottom center, 15% center, 86% center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 46px;
    height: 46px;
    margin-right: 10px;
  }
}
