.header-wrapper {
  font-size: 54px;
  color: #52BDFF;
  text-align: center;
  font-weight: normal;
  text-shadow: 0 0 18px #000000;
  margin: 0;
  background: url('./bottom-line.png'), url('./left.png'), url('./right.png');
  background-position: bottom center, 15% center, 86% center;
  background-repeat: no-repeat;
}
