.switcher-wrapper {
  //position: absolute;
  //top: 300px;
  //bottom: -950px;
  //left: 200px;
  position: fixed;
  bottom: -150px;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  width: 500px;
  height: 500px;
  //border: 1px solid red;
  background: url('./bg2.png') center 53% no-repeat;
  pointer-events: none;
  user-select none;

  .btn-transform {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position relative;

    .btn-rotate {
      position absolute;
      top: 0;
      left: 0;
      transform-style: preserve-3d;
      pointer-events: auto;
      height 100%;
      width: 100%;
      .btn-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-style: preserve-3d;
        .active {
          color: #F6C346 !important;
        }
        .btn {
          background: url('./btn-bg.png') no-repeat;
          background-size: cover;
          color: #fff;
          cursor: pointer;
          width: 71px;
          height: 165px;
          // border: 2px solid rgba(145, 203, 254, 1);
          // border-radius: 50%;
          text-align: center;
          padding-top: 12px;
          border: none;
          outline: none;
          font-size: 24px;
          font-weight: bold;
          line-height: 1;
        }
      }
    }

    .current {
      background: url('./center.png') center center no-repeat;
      width: 100%;
      height: 100%;
      transform scale(0.93) translateY(-140px);
      display flex;
      justify-content: center;
      align-items: center;
      font-size:42px;
      font-weight:bold;
      color:#fff;
      pointer-events: none;
    }
  }
}
