.history-switcher-wrapper {
  // border: 3px solid red;
  position: fixed;
  bottom: 20px;
  width 100%;
  text-align: center;
  background: url('./base-line.png') bottom center no-repeat;
  padding-bottom: 20px;
  svg {
    text {
      fill: #fff;
      font-size: 28px;
    }
    &.active {
      path {
        fill: #F52323;
        stroke: #F52323;
      }
    }
    &.btn {
      cursor pointer;
    }
  }
}
