.history-switcher-wrapper {
  // border: 3px solid red;
  position: fixed;
  bottom: 20px;
  width 100%;
  text-align: center;
  background: url('./base-line.png') bottom center no-repeat;
  padding-bottom: 20px;
  svg {
    text {
      fill: black;
      font-size: 28px;
      font-weight: 600;
    }
    &.active {
      path {
        // fill: #F52323;
        // stroke: #F52323;

        fill: #F6C346;
        stroke: #F6C346;
      }
    }
    &.btn {
      cursor pointer;
    }
  }
}
