.history-switcher-wrapper {
  // border: 1px solid red;
  position: fixed;
  bottom: 20px;
  width 100%;
  text-align: center;
  button {
    color: #fff;
    background: rgba(32,170,255,0.50);
    border: 2px solid #20AAFF;
    outline: none;
    margin-right: 10px;
    cursor pointer;
    &.active {
      background: rgba(245,35,35,0.50);
      border: 2px solid #F52323;
    }
  }
}
