html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root, .app-root {
  height: 100%;
}

// antd
.content {
  position: absolute;
  z-index: 2;
  width 100%;
  &::before, &::after {
    content: ' ';
    position absolute;
    top: 70px;
    width: 20px;
    height: 945px;
  }
  &::before {
    left: 20px;
    background: url('./assets/imgs//left.png');
  }
  &::after {
    right: 20px;
    background: url('./assets/imgs//right.png');
  }
  .ant-calendar-picker-input {
    background: none;
    border: none;
    border-radius: 0;
    color: #fff;
  }
  .ant-calendar-range-picker-separator {
    color: #20AAFF;
    transform: scaleX(2);
  }
  .ant-calendar-picker-icon {
    display: none;
  }
  .ant-calendar-picker-clear {
    color: #20AAFF;
    background: none;
  }
}

conrer-order(conrerColor, borderCorlor, bgColor) {
  background: conrerColor left top,
    conrerColor left top,
    conrerColor right top,
    conrerColor right top,
    conrerColor left bottom,
    conrerColor left bottom,
    conrerColor right bottom,
    conrerColor right bottom,
    borderCorlor top,
    borderCorlor bottom,
    borderCorlor left,
    borderCorlor right,
    bgColor;
  background-repeat: no-repeat;
  background-position: 0px 0px, 0px 0px, 0px 100%, 0px 100%, 100% 0px, 100% 0px, 100% 100%, 100% 100%, 0px 0px, 0px 100%, 0px 100%, 100% 100%;
  background-size: 2px 15px, 15px 2px, 2px 15px, 15px 2px, 2px 15px, 15px 2px, 2px 15px, 15px 2px, 100% 2px, 100% 2px, 2px 100%, 2px 100%;
}

.corner-border {
  conrer-order(linear-gradient(#20AAFF, #20AAFF), linear-gradient(#20AAFF55, #20AAFF55), rgba(2, 18, 41, 0.6))
}

.corner-border-highlight-bg {
  conrer-order(linear-gradient(#20AAFF, #20AAFF), linear-gradient(#20AAFF55, #20AAFF55), #102B52cc)
}

.corner-border-warning {
  conrer-order(linear-gradient(#F52323, #F52323), linear-gradient(#F5232355, #F5232355), rgba(36,6,6,0.80))
}
